# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Quixote Renderer/.vs/Quixote Renderer/v15/.suo
Quixote Renderer/.vs/Quixote Renderer/v15/Browse.VC.db
Quixote Renderer/.vs/Quixote Renderer/v15/ipch/AutoPCH/37f4995fa01a26b8/QUIXOTERENDERER.ipch
Quixote Renderer/Quixote Renderer/Quixote Renderer.vcxproj
Quixote Renderer/Quixote Renderer/Quixote Renderer.vcxproj.filters
Quixote Renderer/Quixote Renderer/Release/Quixote Renderer.log
Quixote Renderer/Quixote Renderer/Release/Quixote Renderer.tlog/CL.read.1.tlog
Quixote Renderer/Release/Quixote Renderer.iobj
Quixote Renderer/Release/Quixote Renderer.ipdb
Quixote Renderer/Release/Quixote Renderer.pdb
Quixote Renderer/Quixote Renderer/Release/vc141.pdb
Quixote Renderer/Quixote Renderer/Release/QuixoteRenderer.obj
Quixote Renderer/Quixote Renderer/Release/Quixote Renderer.tlog/Quixote Renderer.write.1u.tlog
Quixote Renderer/Quixote Renderer/Release/Quixote Renderer.tlog/CL.read.1.tlog
Quixote Renderer/Quixote Renderer/Release/Quixote Renderer.log
Quixote Renderer/Quixote Renderer/Quixote Renderer.vcxproj.filters
Quixote Renderer/.vs/Quixote Renderer/v15/.suo
Quixote Renderer/.vs/Quixote Renderer/v15/Browse.VC.db
Quixote Renderer/.vs/Quixote Renderer/v15/ipch/AutoPCH/37f4995fa01a26b8/QUIXOTERENDERER.ipch
Quixote Renderer/Quixote Renderer/Release/Quixote Renderer.tlog/CL.read.1.tlog
Quixote Renderer/Quixote Renderer/Release/Quixote Renderer.tlog/Quixote Renderer.write.1u.tlog
Quixote Renderer/Quixote Renderer/Release/vc141.pdb
